{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", "always-multiline"]
  }
}
